.pvlt-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.pvlt-switch #pushes-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.pvlt-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.pvlt-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#pushes-checkbox:checked + .pvlt-slider {
  background-color: #2196F3;
}

#pushes-checkbox:focus + .pvlt-slider {
  box-shadow: 0 0 1px #2196F3;
}

#pushes-checkbox:checked + .pvlt-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.pvlt-slider.round {
  border-radius: 34px;
}

.pvlt-slider.round:before {
  border-radius: 50%;
}
.local-block{
	display:inline-block;
	width:90%;
	max-width:800px;
	text-align:left;
	line-height:40px;
	vertical-align:middle;
}
#pvlt-status{
	color:red;
}
